/* Estilização geral */
body {
    font-family: apple-system, cursive;
    background-color: #121212; /* Fundo mais escuro */
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #222;
}

/* Galeria de imagens */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.photo {
    width: 48%;
    position: relative;
    cursor: pointer;
}

.photo img,
.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 4px solid #333; /* Moldura das fotos */
    transition: transform 0.3s ease-in-out;
}

.photo img:hover,
.thumbnail:hover {
    transform: scale(1.1);
}

/* Estilização do modal */
.modal {
    display: none; /* Garantindo que o modal não apareça ao carregar a página */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-content {
    background-color: #333;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal img {
    width: 100%;
    max-height: 80vh;
    border-radius: 5px;
}

.close {
    color: #fff;
    font-size: 28px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
